@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
    html {
        background-color: #0C0A09;
    }
    body {
        color: #FFF;
    }
  }

@media (prefers-color-scheme: light) {
    html {
        background-color: #F5F5F0;
    }
    body {
        color: #000;
    }
}

::selection {
    background-color: #ffda8080;
    color: #000;
}

::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d0d2d6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b1b5b9;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;

        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        /* --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%; */

        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }
   
    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%
        ;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;

        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --ring: 35.5 91.7% 32.9%;

      /* --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%; */
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-manrope)
}

body {
    background-color: #FFF;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: var(--font-manrope), sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.97);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} 
.dialog-overlay[data-state="open"] {
    animation: fadeIn 150ms ease-out;
}
.dialog-overlay[data-state="closed"] {
    animation: fadeOut 150ms ease-in;
}
